name: Backend CI Pipeline

on:
    push:
        branches:
            - main
    pull_request:
    

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source code
              uses: actions/checkout@v4

            - name: Set up Java 17
              uses: actions/setup-java@v2
              with:
                  distribution: 'temurin'
                  java-version: '17'

            - name: Build with Maven
              run: mvn clean package -DskipTests

            - name: Build Docker image
              run: docker build -t backend-user-service:ci .

            - name: Run Trivy vulnerability scan
              uses: aquasecurity/trivy-action@0.20.0
              with:
                image-ref: backend-user-service:ci
                severity: CRITICAL, HIGH
                exit-code: 0

            - name: Login to Docker Hub
              uses: docker/login-action@v3
              with:
                username: ${{ secrets.DOCKERHUB_USERNAME }}
                password: ${{ secrets.DOCKERHUB_PASSWORD }}

            - name: Push Docker image
              run: |
                docker tag backend-user-service:ci ${{ secrets.DOCKER_USERNAME }}/backend-user-service:latest
                docker push ${{ secrets.DOCKER_USERNAME }}/backend-user-service:latest